# client
/client/node_modules
/client/build
/client/coverage
/build
/node_modules
/client/.pnp
/client/.pnp.js
/client/.firebase
/client/*.cache

# server
/server/node_modules
/server/secrets.js

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
TODO

# firebase
/.firebase
*.cache
.env.local
.env.development.local
.env.test.local
.env.production.local
