.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px ridge;
}

.footer{
  background-color: #000000;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.navbar-dark {
  background-color: #000000;
}

.page-enter {
  opacity: 1;
  transform: translateX(0%);
}

.page-enter-active {
  opacity: 1.0;
  transform: translateX(0%);
  transition: all 0ms ease-in;
}

.page-exit {
  opacity: 1.0;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0ms ease-out;
}